{
    modules,
    [
        "/Users/icheishvili/Desktop/hurricane/erl_modules/hurricane.erl",
        "/Users/icheishvili/Desktop/hurricane/erl_modules/hurricane_config_server.erl",
        "/Users/icheishvili/Desktop/hurricane/erl_modules/hurricane_utils.erl",
        "/Users/icheishvili/Desktop/hurricane/erl_modules/hurricane_async_port_server.erl",
        "/Users/icheishvili/Desktop/hurricane/erl_modules/hurricane_sync_port_server.erl"
    ]
}.

{
    add_code_paths,
    [
        "/Users/icheishvili/Desktop/mochiweb/ebin"
    ]
}.

{
    externals,
    [
        [
            {cmd, "/usr/bin/python /Users/icheishvili/Desktop/hurricane/http_handler.py"},
            {num, 2},
            {name, http_handler},
            {module, hurricane_sync_port_server}
        ],
        [
            {cmd, "/usr/bin/php /Users/icheishvili/Desktop/hurricane/time_server.php"},
            {num, 2},
            {name, time_server},
            {module, hurricane_async_port_server}
        ]
    ]
}.
