{
    compile_modules,
    [
        "erl_modules/hurricane.erl",
        "erl_modules/hurricane_config_server.erl",
        "erl_modules/hurricane_utils.erl",
        "erl_modules/hurricane_stdio_server.erl",
        "erl_modules/hurricane_tcp_server.erl",
        "erl_modules/hurricane_http_server.erl",
        "erl_modules/hurricane_log_server.erl",
        "erl_modules/hurricane_supervisor.erl",
        "erl_modules/hurricane_message_delegate.erl",
        "erl_modules/hurricane_distribution_manager.erl"
    ]
}.

{load_modules, []}.

{
    add_code_paths,
    [
        "mochiweb/ebin"
    ]
}.

{log_level, info}.

{
    start_modules,
    [
        [
            {module, hurricane_tcp_server},
            {args, [{listen_port, 3000}]}
        ],
        [
            {module, hurricane_http_server},
            {
                args,
                [{listen_port, 8000}]
            }
        ]
    ]
}.
