{
    compile_modules,
    [
        "erl_modules/hurricane.erl",
        "erl_modules/hurricane_config_server.erl",
        "erl_modules/hurricane_utils.erl",
        "erl_modules/hurricane_stdio_server.erl",
        "erl_modules/hurricane_tcp_server.erl",
        "erl_modules/hurricane_http_server.erl",
        "erl_modules/hurricane_log_server.erl",
        "erl_modules/hurricane_supervisor.erl",
        "erl_modules/hurricane_message_delegate.erl",
        "erl_modules/hurricane_distribution_manager.erl"
    ]
}.

{
    add_code_paths,
    [
        "mochiweb/ebin"
    ]
}.

{log_level, info}.

{
    start_modules,
    [
        [
            {module, hurricane_stdio_server},
            {
                args,
                [
                    {cmd, "/usr/bin/python examples/http_handler.py"},
                    {group_name, http_handler}
                ]
            },
            {count, 2}
        ],
        [
            {module, hurricane_stdio_server},
            {
                args,
                [
                    {cmd, "/usr/bin/php examples/time_server.php"},
                    {group_name, time_server}
                ]
            },
            {count, 2}
        ],
        [
            {module, hurricane_tcp_server},
            {args, [{listen_port, 3307}]}
        ],
        [
            {module, hurricane_http_server},
            {
                args,
                [{listen_port, 8000}]
            }
        ],
        [
            {module, hurricane_distribution_manager},
            {args, [{magic_cookie, the_magic_cookie}, {node_name, hurricane_node_1}, {connect_nodes, ['hurricane_node_2@ilia-cheishvilis-macbook-pro.local']}]}
        ]
    ]
}.
