{
    compile_modules,
    [
        "/Users/icheishvili/Desktop/hurricane/erl_modules/hurricane.erl",
        "/Users/icheishvili/Desktop/hurricane/erl_modules/hurricane_config_server.erl",
        "/Users/icheishvili/Desktop/hurricane/erl_modules/hurricane_utils.erl",
        "/Users/icheishvili/Desktop/hurricane/erl_modules/hurricane_stdio_server.erl",
        "/Users/icheishvili/Desktop/hurricane/erl_modules/hurricane_tcp_server.erl",
        "/Users/icheishvili/Desktop/hurricane/erl_modules/hurricane_http_server.erl",
        "/Users/icheishvili/Desktop/hurricane/erl_modules/hurricane_log_server.erl",
        "/Users/icheishvili/Desktop/hurricane/erl_modules/hurricane_supervisor.erl",
        "/Users/icheishvili/Desktop/hurricane/erl_modules/hurricane_message_delegate.erl",
        "/Users/icheishvili/Desktop/hurricane/erl_modules/hurricane_distribution_manager.erl"
    ]
}.

{
    add_code_paths,
    [
        "/Users/icheishvili/Desktop/mochiweb/ebin"
    ]
}.

{log_level, info}.

{
    start_modules,
    [
        [
            {module, hurricane_tcp_server},
            {args, [{listen_port, 3308}]}
        ],
        [
            {module, hurricane_http_server},
            {
                args,
                [{listen_port, 8001}]
            }
        ],
        [
            {module, hurricane_distribution_manager},
            {args, [{magic_cookie, the_magic_cookie}, {node_name, hurricane_node_2}, {connect_nodes, ['hurricane_node_2@ilia-cheishvilis-macbook-pro.local']}]}
        ]
    ]
}.
