{
    load_modules,
    [
        "ebin/hurricane",
        "ebin/hurricane_config_server",
        "ebin/hurricane_utils",
        "ebin/hurricane_stdio_server",
        "ebin/hurricane_tcp_server",
        "ebin/hurricane_http_server",
        "ebin/hurricane_log_server",
        "ebin/hurricane_supervisor",
        "ebin/hurricane_message_delegate",
        "ebin/hurricane_distribution_manager"
    ]
}.

{
    add_code_paths,
    [
        "mochiweb/ebin"
    ]
}.

{log_level, info}.

{
    start_modules,
    [
        [
            {module, hurricane_tcp_server},
            {args, [{listen_port, 3001}]}
        ],
        [
            {module, hurricane_distribution_manager},
            {
                args,
                [
                    {magic_cookie, the_magic_cookie},
                    {node_name, hurricane_node_1},
                    {connect_nodes, ['hurricane_node_2@ilia-cheishvilis-macbook-pro.local']}
                ]
            }
        ]
    ]
}.
